{% include "partials/dashnav.html" %}

<main role="main" class="container">
    <div class="col-lg-12">

        <div class="common_style">
          <br>
          <div class="container">
              <div class="row">
                <div class="col-3">
                    <p class="line">Products</p>
                  </div>
                <div class="col-2">
                </div>
                <div class="col">
                  <form action="/products/search" method="get">
                    <div class="input-group mb-3">
                        <input type="text" name="search" id="search" class="form-control" placeholder="Search...." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                      </div>               
                  </form>

                    </div>
              </div>
  {% if needsRestart %}
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow" style="background-color: #efac0fcf;">
    <a class="btn btn-sm btn btn-outline-light" href="/restart" style="margin-right: 20px;">Restart</a>
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Restart Required</h6>
      <small>In order to apply changes on your tasks, you must restart.</small>
    </div>
  </div>
  {% endif %}

  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow" style="background-color: #fc0000d7;">
      <a class="btn btn-sm btn btn-outline-light" href="/products/remove"  style="margin-right: 20px;">Remove All</a>
      <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">Too Cluttered?</h6>
        <small>Remove all of the products from the database.</small>
      </div>
    </div>



  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h4 class="border-bottom border-gray pb-2 mb-0">{{ count }}</h4>

    {% for item in newItems %}
    <div class="media text-muted pt-3">

      <img alt="64x64" class="mr-2 rounded" style="width: 100px;height: auto;" src="{{item.image}}" onerror="this.src='http://pixelartmaker.com/art/8326519c9fbbbb4.png'"
        data-holder-rendered="true">

      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark"><a href="{{item.url}}" target="_blank">{{item.title}}</a>
        </strong><span class="d-block">{{item.price}} — {{item.site}} </span><a href="/product/{{ item._id }}" target="_blank">Settings</a>
      </p>
            <a href="/product/delete/{{ item._id }}" style="color: red;">Remove</a>
    </div>
    {% endfor %}

    <small class="d-block text-right mt-3">
      </small>
  </div>
</main>
<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script>
  window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
$('.custom-file-input').on('change',function(){
  $('.custom-file-label').text($(this).val().replace(/\\/g, '/').replace(/.*\//, ''));
})
</script>
<script>
    $(".nav li").removeClass("active");
    $('#products').addClass('active');
  </script>
{% include "partials/footer.html" %}
