<footer class="footer_area">
		<div class="container">
			<div class="row footer_inner">
				<div class="col-lg-5 col-sm-6">
					<aside class="f_widget ab_widget">
						<div class="f_title">
							<h3>About Me</h3>
						</div>
						<p>Hi, my name is Tyler.  I am a student in the UCF Coding Bootcamp!  This is my final project, I hope you like it.</p>
						<p><a href="https://github.com/tylermarcus14" target="_blank">Github</a>
					</aside>
				</div>
				<div class="col-lg-5 col-sm-6">
					<aside class="f_widget news_widget">
						<div class="f_title">
							<h3>Newsletter</h3>
						</div>
						<p>Sign up to be the first to know when we launch!</p>
						<div id="mc_embed_signup">
							<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="subscribe_form relative">
								<div class="input-group d-flex flex-row">
									<input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '"
									 required="" type="email">
									<button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
								</div>
								<div class="mt-10 info"></div>
							</form>
						</div>
					</aside>
				</div>
				<div class="col-lg-2">
					<aside class="f_widget social_widget">
						<div class="f_title">
							<h3>Follow Me</h3>
						</div>
						<ul class="list">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</aside>
				</div>
			</div>
		</div>
  </footer>
  
  	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/public/js/jquery-3.2.1.min.js"></script>
	<script src="/public/js/popper.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/stellar.js"></script>
	<script src="/public/js/jquery.magnific-popup.min.js"></script>
	<script src="/public/vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="/public/vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="/public/vendors/isotope/isotope-min.js"></script>
	<script src="/public/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="/public/js/jquery.ajaxchimp.min.js"></script>
	<script src="/public/vendors/counter-up/jquery.waypoints.min.js"></script>
	<script src="/public/vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="/public/js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCABJW5mTKbcqfeh9s_GgFa5b5qm_v5L8Y"></script>
	<script src="/public/js/gmaps.min.js"></script>
 	<script src="/public/js/theme.js"></script>
  
</body>
</html>
